<div>
  <p-tabView>
    <p-tabPanel header="{{titulo}}">
    </p-tabPanel>
</p-tabView>
</div>
<div>
  <p-tabView >
    <p-tabPanel header="Site Nota Fiscal" > <a href="{{link}}" target="blank" class="link">Nota Fiscal Eletronica</a> </p-tabPanel>
    <p-tabPanel header="Projeto Front End"> <a href="{{front}}" target="blank" class="link">Repositório Front-End</a> </p-tabPanel>
    <p-tabPanel header="Projeto Back End"> <a href="{{back}}" target="blank" class="link">Repositório Back-End</a> </p-tabPanel>
  </p-tabView>
</div>
<br />
<div>
  <p-carousel [value]="items">
    <ng-template let-item pTemplate="item" *ngFor="let item of items"> {{ item.brand }} </ng-template>
  </p-carousel>
</div>
<br />
<div>
 <button type="button" pButton label="Buscar" onclick="findAll()"></button>
</div>
<footer><a href="{{ viasoft }}">Oferecimento Viasoft</a></footer>
